node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.turbo
*.tsbuildinfo
.nitro
.tanstack
.wrangler
.output
.vinxi
local.db
apps/*/local.db
__unconfig*
todos.json
.expo
apps/mobile/.expo
apps/mobile/ios
apps/mobile/android
